tests/fixtures/workflow/simple_passthrough_workflow.yml
version: 0.6.0
kind: app
app:
  name: echo
  mode: workflow
  icon: 🤖
  icon_type: emoji
  icon_background: '#FFEAD5'
  description: ''
  use_icon_as_answer_icon: false
workflow:
  graph:
    nodes:
    - id: start_node
      type: custom
      data:
        type: start
        title: Start
        desc: ''
        selected: false
        variables:
        - variable: query
          label: query
          type: text-input
          required: true
          options: []
          value_selector: []
      position:
        x: 30.0
        y: 227.0
      positionAbsolute:
        x: 30.0
        y: 227.0
      width: 244
      height: 90
      selected: false
      sourcePosition: right
      targetPosition: left
    - id: end_node
      type: custom
      data:
        type: end
        title: End
        desc: ''
        selected: false
        outputs:
        - variable: result
          value_selector:
          - start_node
          - query
          value_type: string
      position:
        x: 334.0
        y: 227.0
      positionAbsolute:
        x: 334.0
        y: 227.0
      width: 244
      height: 90
      selected: false
      sourcePosition: right
      targetPosition: left
    edges:
    - id: start_node-source-end_node-target
      source: start_node
      target: end_node
      sourceHandle: source
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        sourceType: start
        targetType: end
        isInIteration: false
        isInLoop: false
    viewport:
      x: 0.0
      y: 0.0
      zoom: 1.0
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  environment_variables: []
  conversation_variables: []
  rag_pipeline_variables: []
dependencies: []